html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;

}

* {
    box-sizing: border-box;
}

body {

    background-color: #0A012E;
    /*Colore di sfondo di riserva*/
}

#bg::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('giphy.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    opacity: 0.2;
    z-index: -1;
}

/* Navbar */
.side:hover {
    background-color: #b4c0f4;
    border-radius: 50%;
    width: min-content;
}


.textNav {
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    font-size: 4vh;
    color: aliceblue;
}

.container-home {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    place-items: center;
    align-items: center;
    display: flex;
    justify-content: center;
}


.image-container {
    margin-right: 20px;

}

.container1 {
    position: relative;
    width: 85%;
    height: 30%;

}

.container1 img {
    width: 80%;
    height: 80%;
    object-fit: cover;
    border-radius: 50%;
}

.text3 {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-size: 2vh;
}

/* Pulsazione del bordo dell'immagine */
.container1::before {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    border-radius: 50%;
    background: linear-gradient(45deg, rgb(48, 48, 163), rgba(135, 239, 251, 0.693));
    z-index: -1;
    filter: blur(20px);
    animation: pulse 3s infinite ease-in-out;
}

/* Animazione di pulsazione */
@keyframes pulse {
    0% {
        transform: scale(1);
        filter: blur(20px);
    }

    50% {
        transform: scale(1.1);
        filter: blur(22px);
    }

    100% {
        transform: scale(1);
        filter: blur(20px);
    }
}

#name {
    padding-left: 10%;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    font-size: 1vmax;
    color: rgb(236, 236, 236);
}

.text-container h1 {
    flex-grow: 1;
    font-size: 6vmax;
    font-weight: 700;
    margin: 3px 0;
    color: transparent;
    width: fit-content;
    -webkit-text-stroke: 2px #ffffff;
    background: url('back.jpg');
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
    visibility: hidden;
    white-space: pre-wrap;
    word-wrap: break-word;
}

@keyframes back {
    100% {
        background-position: 8000px 0;
    }
}

.text-container {

    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 90%;
}

.button-9 {
    touch-action: manipulation;
    align-self: auto;
    background-color: #bebdd4;
    background-image: linear-gradient(#140039, #5dace5);
    border-radius: 23px;
    box-shadow: rgba(131, 50, 234, .01) 0 41px 17px, rgba(131, 50, 234, .05) 0 23px 14px, rgba(131, 50, 234, .09) 0 10px 10px, rgba(131, 50, 234, .1) 0 3px 6px;
    color: #fff;
    font-family: Greycliff, sans-serif;
    font-size: 2rem;
    font-weight: 1000;
    height: 70px;
    line-height: 1;
    padding: 8px 24px 10px;
    text-align: center;
    text-shadow: rgba(0, 0, 0, .1) 0 1px 1px;
    transition: all .3s ease-in-out;
    z-index: 2;
    cursor: pointer;
    display: inline-block;
    border: none;
}

.button-9:active,
.button-9:hover {
    background-image: linear-gradient(#5dace5, #7385d5, #9fadea, #b1d7ed);
    text-transform: uppercase;
    color: black;
}

.button-9:active {
    box-shadow: rgba(131, 50, 234, .1) 0 3px 6px;
}

.btn-transparent {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;

}

.btn-transparent:active {
    background-color: rgb(35, 44, 206);
    color: black;
    border-color: rgb(71, 86, 219);
}

.btn-transparent:hover {
    background-color: rgba(0, 7, 221, 0.458);
    color: white;
    border-color: rgb(35, 12, 209);
}

.section1 {
    padding: 7%;
    width: fit-content;
    left: 0;
    right: 0;
    z-index: 1;
    transition: z-index 0.3s ease;
}

.section1.scrolled {
    z-index: -1;
}

.content-box {
    background-color: rgba(10, 29, 69, 0.696);
    padding: 5%;
    align-items: center;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.805);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.958), 0px 4px 10px rgb(0, 0, 0);
    text-align: center;
    max-width: 100%;
    width: 90%;
    margin: 0 auto;
}

.chi-sono {
    font-size: 3rem;
    color: #5a5a5a;
    font-weight: 700;
    text-align: left;
    background: linear-gradient(90deg, rgb(114, 82, 200) 0%, rgba(0, 204, 255, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: fadeIn 2s ease-in-out;
}

.aboutMe {
    font-size: 1.5rem;
    color: #ffffff;
    margin-top: 2%;
    line-height: 1.6;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.section2 {
    z-index: 1;
    background-color: transparent !important;
}

.section_shape {
    margin-top: -1%;
    margin-bottom: -4px;

}

.sectionContent {
    margin-top: 4%;
    background: #0A012E;
    color: #fff;
    height: 200vh;
}

.timeline-time,
.timeline-content {
    font-size: 1.2vw;
}

.timeline {
    position: relative;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 5rem;
    margin: 0 auto 1rem auto;
    overflow: hidden;
}

.timeline:after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -2px;
    border-right: 2px dashed #4b546f;
    height: 100%;
    display: block;
}

.timeline-row {
    padding-left: 50%;
    position: relative;
    margin-bottom: 30px;
}

.timeline-row .timeline-time {
    position: absolute;
    right: 50%;
    top: 15px;
    text-align: right;
    margin-right: 20px;
    color: #bcd0f7;
    font-size: 1.5rem;
}

.timeline-row .timeline-time small {
    display: block;
    font-size: 0.8rem;
}

.timeline-row .timeline-content {
    position: relative;
    padding: 20px 30px;
    background: #1a233a;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.timeline-row .timeline-content:after {
    content: "";
    position: absolute;
    top: 20px;
    height: 16px;
    width: 16px;
    background: #1a233a;
}

.timeline-row .timeline-content:before {
    content: "";
    position: absolute;
    top: 20px;
    right: -49px;
    width: 20px;
    height: 20px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    z-index: 10;
    background: #272e48;
    border: 2px dashed #4b546f;
}

.timeline-row .timeline-content h4 {
    margin: 0 0 20px 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 150%;
}

.timeline-row .timeline-content p {
    margin-bottom: 30px;
    line-height: 150%;
}

.timeline-row .timeline-content i {
    font-size: 1.2rem;
    line-height: 100%;
    padding: 15px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    background: #272e48;
    margin-bottom: 10px;
    display: inline-block;
}

.timeline-row .timeline-content .thumbs {
    margin-bottom: 20px;
    display: flex;
}

.timeline-row .timeline-content .thumbs img {
    margin: 5px;
    max-width: 60px;
}

.timeline-row .timeline-content .badge {
    color: #ffffff;
    background: linear-gradient(120deg, #00b5fd 0%, #0047b1 100%);
}

.timeline-row:nth-child(even) .timeline-content {
    margin-left: 40px;
    text-align: left;
}

.timeline-row:nth-child(even) .timeline-content:after {
    left: -8px;
    right: initial;
    border-bottom: 0;
    border-left: 0;
    transform: rotate(-135deg);
}

.timeline-row:nth-child(even) .timeline-content:before {
    left: -52px;
    right: initial;
}

.timeline-row:nth-child(odd) {
    padding-left: 0;
    padding-right: 50%;
}

.timeline-row:nth-child(odd) .timeline-time {
    right: auto;
    left: 50%;
    text-align: left;
    margin-right: 0;
    margin-left: 20px;
}

.timeline-row:nth-child(odd) .timeline-content {
    margin-right: 40px;
}

.timeline-row:nth-child(odd) .timeline-content:after {
    right: -8px;
    border-left: 0;
    border-bottom: 0;
    transform: rotate(45deg);
}

.sectionContent3 {
    margin-top: 5%;
    width: 40%;
}

h1 {
    font-size: 6vw;
    font-family: 'Arial', sans-serif;
    letter-spacing: 5px;
    text-align: center;
    background: linear-gradient(90deg, #ff8c00, #ff0080, #8a2be2);
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
    margin: 0;
    animation: glow 1.5s infinite alternate;
}

.title4 {
    padding-top: 2%;
    font-size: 3vw;
}

@keyframes glow {
    0% {
        text-shadow: 4px 4px 8px rgba(137, 127, 180, 0.504), 0 0 10px rgba(77, 77, 234, 0.5);
    }

    100% {
        text-shadow: 4px 4px 8px rgb(95, 30, 192), 0 0 20px rgb(216, 139, 227);
    }
}

.container2 {
    justify-content: center;
    align-items: center;

}

.text2 {
    display: inline-block;
    width: 80%;
    margin-left: 9%;

    background-color: #3e2ea832;
    color: white;
    font-size: 160%;
    font-family: 'Arial', sans-serif;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px #3e2ea832;
}

.text3 {
    font-size: 100%;
}

.text4 {
    font-size: 150%;
}

/* scrollbar */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: #3e2ea832;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #0f4b86;
    border-radius: 10px;
}

.section3 {
    margin-top: -6%;
    position: relative;
    z-index: 1;
    background-color: transparent !important;

}

.section_shape3 {
    margin-top: -7%;
    margin-bottom: -4px;

}

.sectionContent3 {
    background: #002E5B;
    padding: 5%;
    color: #fff;
}


.swiper-button-next {
    margin-right: 1%;
}


.bg2 {
    background-color: #002E5B;
    margin-top: -2%;
    height: 200vh;
    /* altezza provvisoria */
}

.birthdate-box {
    background-color: #a9a9ad;
    color: #000000;
    padding: 10px 20px;
    border-radius: 7px;
    text-align: center;
    font-weight: bold;
    max-width: 300px;
    margin: 20px auto;
    font-size: 1em;
}

.progress {
    width: 100%;
    height: 21px;
    background-color: gray;
    border-radius: 10px;
}

.progress .progress-bar {
    width: 0%;
    font-weight: bold;
    opacity: 0;
    height: 100%;
    background-color: orangered;
    border-radius: 10px;
    position: relative;
    transition: all 5s linear;
}

.progress-bar {
    width: 0;
    transition: width 1s ease-in-out;
}

.progress-bar.active {
    width: attr(data-progress);
}

.progress-bar span {
    position: absolute;
    top: 0;
    right: 0;
    color: white;
}

.container4 {
    width: 250%;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.column {
    width: 44%;
}

p {
    margin-top: 20px;
}

/* Stili per il popup */
section#popAlert {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 2000;
}

section#popAlert.active {
    visibility: visible;
    opacity: 1;
}

section#popAlert aside {
    width: 90%;
    max-width: 350px;
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(102, 93, 232, 0.6);
}

/* Stili per la notifica "Email copiata!" */
#notification {
    position: relative;
    margin-bottom: -100px;
    font-weight: bold;
}

section#popAlert aside button[type=button] {
    width: 100%;
    max-width: 150px;
    font-size: 16px;
    font-weight: 600;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    padding: 10px 0;
    cursor: pointer;
    background-color: #e5e5e5;
    transition: 0.3s all ease-in-out;
}

section#popAlert aside button[type=button]:hover {
    background-color: #0512ff90;
    color: #ffffff;
}

.notification {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 1000;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
    visibility: hidden;
}

.notification.visible {
    opacity: 1;
    visibility: visible;
}

.notification.hidden {
    opacity: 0;
    visibility: hidden;
}

#backToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #555;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
    font-size: 18px;
    transition: all 0.3s ease;
}

#backToTopBtn:hover {
    background-color: #333;
    color: #ffcc00;
    transform: scale(1.1);
}



/* ADATTAMENTO SCHERMO */
/* Media Queries per schermi più piccoli */

@media(min-width:992px) {
    .timeline-content:before {
        margin-left: 180%;
    }

    .bg2 {
        background-color: #002E5B;

        height: 109vh;
        /* altezza provvisoria */
    }

    .sectionContent {
        height: 105vh;
        /* altezza provvisoria */
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 5vw;
    }
}

@media (max-width: 320px) {
    h1 {
        font-size: 5vw;
    }
}

@media (min-width: 1000px) {
    .timeline-content:before {
        margin-left: 180%;
    }

    .bg2 {
        background-color: #002E5B;

        height: 180vh;
        /* altezza provvisoria */
    }

    .sectionContent {

        height: 170vh;
        /* altezza provvisoria */
    }

    .title4 {
        margin-top: -8%;
    }

    .title5 {
        margin-top: -30%;
    }
}

@media(max-width: 1500px) {
    .container-home {
        margin-top: 1%;
    }
}

@media (max-width: 500px) {
    .section1 {
        margin-top: -30%;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    /* Pulsazione del bordo dell'immagine */
    .container1::before {
        content: "";
        position: absolute;
        top: -10px;
        left: 80px;
        right: 80px;
        bottom: -10px;
        border-radius: 50%;
        background: linear-gradient(45deg, rgb(48, 48, 163), rgba(135, 239, 251, 0.693));
        z-index: -1;
        filter: blur(20px);
        animation: pulse 3s infinite ease-in-out;
    }

    .container-home {
        width: 80vw;
        margin-top: 18%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding: 0;
    }

    .content-box {
        order: 4;
        width: 100%;
        max-width: 100%;
    }

    .image-container {
        order: 1;
        margin-bottom: 10px;
        margin-right: 15%;
    }

    .text {
        font-size: 6vw;
    }

    .text-container {
        order: 2;
        text-align: center;
        margin-bottom: 20px;
        line-height: 1.2;
        max-width: 90%;
    }

    #typingText {
        font-size: 10vw;
        margin-right: 30%;
    }

    .button-container {
        order: 3;
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
        justify-content: center;
       width: 100%;
     }

    .profile-img {
        width: 20vw;
        height: 20vw;
        max-width: 150px;
        max-height: 150px;
        border-radius: 50%;
        object-fit: cover;
    }


    .btn,
    .btn-transparent {
        margin-right: 0;
         margin-bottom: 0;
    }

    #location-button {
        margin-right: 10px;
    }

    .button-9 {
        margin-right: 15%;
    }

    #send-email-button {
        margin-left: -12%;
    }

    .section2 {
        margin-top: 290vw;
    }

    .section_shape {
        width: fit-content;
        background-color: rgb(131, 131, 131);
    }
}

/* Overlay Menu */
@media screen and (max-width: 992px) {
    .overlay-menu {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.85);
        z-index: 100;
        justify-content: center;
        align-items: center;
        text-align: center;
        backdrop-filter: blur(5px);
    }

    .sectionContent {
        margin-top: -5%;
    }

    .sectionContent3 {
        margin-top: -3%;
    }

    .overlay-menu-list {
        list-style-type: none;
        padding: 0;
    }

    .overlay-menu-item {
        font-size: 2rem;
        color: white;
        display: block;
        margin: 15px 0;
        text-decoration: none;
    }

    .overlay-menu-item:hover {
        text-decoration: underline;
    }

    .navbar-toggler {
        display: block;
        z-index: 2000;
        background: none;
        border: none;
        cursor: pointer;
        padding: 0;
        position: fixed;
        top: 20px;
        right: 20px;
    }

    .navbar-toggler .bar {
        width: 35px;
        height: 4px;
        border-radius: 5px;
        background-color: #fff;
        margin: 3px 0;
        transition: all 0.3s ease;
    }

    .navbar-toggler.active .bar1 {
        transform: rotate(45deg);
        position: relative;
        top: 8px;
    }

    .navbar-toggler.active .bar2 {
        opacity: 0;
    }

    .navbar-toggler.active .bar3 {
        transform: rotate(-45deg);
        position: relative;
        top: -8px;
    }
}

@media (min-width: 992px) {
    .overlay-menu {
        display: none;
    }

    .navbar-toggler {
        display: none
    }

    .navbar {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
        z-index: 1000;
        background: rgba(0, 0, 0, 0);
        backdrop-filter: blur(1000px);
    }

    .title4 {
        padding-top: 15%;
    }

    .title5 {
        padding-top: 25%;
    }
}

@media (max-width: 828px) {
    #send-email-button {
        margin-left: -38px;
    }
}

@media (max-width: 850px) {
    #send-email-button {
        margin-left: -44px;
    }
}

.overlay-menu.show {
    display: flex;
}


.fixed-element {
    position: fixed;
}

@media (max-width: 660px) {
    .sectionContent {
        margin-top: -315%;
        font-size: 90%;
        align-items: center;
        height: 200vh;
        /* altezza provvisoria */
    }

    .title4 {
        margin: 60px;
        font-size: 8vw;
    }

    .title5 {
        margin: 60px;
        font-size: 8vw;

    }

    .sectionContent3 {
        margin-top: -80px;
        margin-left: 30px;
    }

    .container4 {
        margin-top: -100px;
    }

    .timeline-content {
        font-size: 0.9vh;
    }

    .timeline-content:before {
        content: none;
        position: absolute;
        top: 20px;
        right: -49px;
        width: 20px;
        height: 20px;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        border-radius: 100px;
        z-index: 10;
        background: #272e48;
        border: 2px dashed #4b546f;
    }

    .timeline-row .timeline-content {
        position: relative;
        padding: 20px 49px;
        background: #1a233a;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }

    .timeline:after {
        content: "";
        position: absolute;
        top: 0;
        left: 65%;
        margin-left: -2px;
        border-right: 2px dashed #4b546f;
        height: 100%;
        display: block;
    }

    .timeline-row:nth-child(odd) .timeline-time {
        right: auto;
        left: 85%;
        text-align: left;
        margin-right: 0;
        margin-left: 20px;
    }

    .timeline-content:before {
        left: 123%;
    }

    .competenze1 {
        font-size: 100%;
    }
}


@media (min-width: 500px) and (max-width: 600px) {
    .sectionContent {
        margin-top: -10%;

    }

    .timeline-content:before {
        margin-left: 23%;
    }


    .timeline-row:nth-child(odd) .timeline-content {
        margin-right: 10px;
    }

    .bg2 {
        background-color: #002E5B;
        height: 150vh;
        /* altezza provvisoria */
    }

    .sectionContent {
        height: 150vh;
        /* altezza provvisoria */
    }
}

@media (min-width: 601px) and (max-width: 660px) {
    .sectionContent {
        margin-top: -10%;
    }

    .timeline-content:before {
        margin-left: 23%;
    }


    .timeline-row:nth-child(odd) .timeline-content {
        margin-right: 10px;
    }

    .bg2 {
        background-color: #002E5B;
        height: 173vh;
        /* altezza provvisoria */
    }

    .sectionContent {
        height: 170vh;
        /* altezza provvisoria */
    }
}

@media(width:360px) {
    .sectionContent {
        margin-top: -320%;
    }

    .timeline-content:before {
        margin-left: -1%;
    }

    .bg2 {
        background-color: #002E5B;
        height: 200vh;
        /* altezza provvisoria */
    }

    .sectionContent {
        height: 200vh;
        /* altezza provvisoria */
    }

    .timeline-row:nth-child(odd) .timeline-content {
        margin-right: 10px;
    }

    .title5 {
        margin-left: -2%;
    }
}


@media (min-width: 320px) and (max-width: 359px) {
    .sectionContent {
        margin-top: -320%;

    }

    .timeline-content:before {
        margin-left: -26%;
    }

    .bg2 {
        background-color: #002E5B;
        height: 264vh;
        /* altezza provvisoria */
    }

    .sectionContent {
        height: 260vh;
        /* altezza provvisoria */
    }


    .timeline-row:nth-child(odd) .timeline-content {
        margin-right: 10px;
    }

    .title5 {
        margin-left: -2%;
    }
}

@media (min-width: 659px)and (max-width: 991px) {
    .sectionContent {
        margin-top: -7%;

    }

    .timeline-content:before {
        margin-right: 17%;
    }

    .bg2 {
        background-color: #002E5B;

        height: 154vh;
        /* altezza provvisoria */
    }

    .sectionContent {
        height: 155vh;
        /* altezza provvisoria */
    }

    .timeline-row:nth-child(odd) .timeline-content {
        margin-right: 10px;
    }

    .title5 {
        margin-left: -2%;
    }
}

@media (min-width: 767px) and (max-width: 991px) {
    .title4 {
        margin-top: 7%;
    }

    .sectionContent {
        margin-top: -7%;
    }

    .timeline-content:before {
        margin-right: 11%;
    }

    .bg2 {
        background-color: #002E5B;
        height: 154vh;
        /* altezza provvisoria */
    }

    .sectionContent {
        height: 155vh;
        /* altezza provvisoria */
    }
}